html {
    box-sizing: border-box;
}
body {
    background-color: #d5d5d5;
    margin: 0;
    font-family: "Arial Black";
}
footer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15%;
    background-color: #949494;
    flex-flow: column;
    top: 85%;
}
header{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15%;
    background-color: #949494;
}
h1 {
    color: #3fff3f;
    letter-spacing: 7px;
}
.vk {
    color: #3FFF3FFF;
    cursor: pointer;
}
.button-prikol{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    font-size: 30px;
    color: white;
    letter-spacing: 5px;
    user-focus: false;
}
.site{
    position: absolute;
    top: 13%;
    color: #29ff29;
    letter-spacing: 5px;
}